
.border {
	width: 50%;

}
.plft{
	padding-left: 55px !important;
}
.prgt{
	padding-right: 55px !important;
}
.color{
	color: #3B325F;
	font-weight: 500;
}
.color1 {
	color:#B6B3C6;
}
address {
	font-weight: 500;
	color:  #3B325F;
}
	table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

td, th {
  border: 0 !important;
  text-align: left;
  padding: 20px;
}
	@media (min-width: 350px) and (max-width: 1170px) {
		
.plft{
	padding-left: 30px !important;
}
.prgt{
	padding-right: 50px !important;
}
.img_res {
	width: 70% !important;
}
/*address {
	font-size: 14px;
}
*/
		}
