
.plft{
	padding-left: 55px !important;
}
.prgt{
	padding-right: 55px !important;
}
.color{
	color: #3B325F;
	font-weight: 500;
}
.color1 {
	color:#D4D7ED;
}
address {
	font-weight: 500;
	color:  #19167D;
}
	table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

td, th {
  border: 0 !important;
  text-align: left;
  padding: 20px;
}
	@media (min-width: 350px) and (max-width: 1170px) {
		
.plft{
	padding-left: 30px !important;
}
.prgt{
	padding-right: 50px !important;
}
.img_res {
	width: 70% !important;
}
td, th {
  border: 0 !important;
 
}
address {
	font-size: 10px;
}

		}

@media (min-width: 350px) and (max-width: 1170px) {
	.color1 {
		font-size: 15px;
	}

}
